
html{
    background: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    
}
#greeting{
    text-align: center;

}

#Header{
    text-align: center;
    
}
p {
  color: gray;   
}

#contact{
    color: gray;
}

